body {
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
.main {
padding-top: 78px;
padding-right: 40px;
padding-left: 240px; /* 180 + 40 */
}
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.feather-32{
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.largetext {
  font-size: 1.2rem;
}

#promo {
background: #DC2424;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.feather-large{
  width: 48px;
  height: 48px;
  color: #4444ff;
}

 .jumbotron {
      margin-bottom:0;
    }
