/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background: #DC2424;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-color: #ffffff !important;
}

.heroBanner1 {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #DDDDDD;
  font-color: #000000 !important;
  color: #000000 !important;
  font-size: 1.2rem !important;
}

.heroBanner2 {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
  font-color: #000000 !important;
  color: #000000 !important;
  font-size: 1.2rem !important;
}

.heroBanner3 {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #DC2424;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-color: #ffffff !important;
  font-size: 1.2rem !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
}

.orangebutton {
  color: #FFAC1C !important;
  background-color: #FFAC1C !important;
}

.sfont {
  font-size: 0.95rem !important;
  text-align: left !important;
}

.hblack {
 font-color: #000000 !important;
 color: #000000 !important;
 font-size: 3.0rem !important;
}

.hblacksmall {
  font-color: #000000 !important;
}

.hblack {
 font-color: #ffffff !important;
 color: #ffffff !important;
 font-size: 3.0rem !important;
}

.hblacksmall {
  font-color: #ffffff !important;
}

